// 기본 색상
$primary-color: #E70E02; // 주 색상
$background-color: #FCFCFC; // 배경색
$black-color: #242424; // 기본 텍스트 색상
$white-color: #FFFF;
$background-sub-color: #F1F1F1; //서브 배경 색상
$border-color: #D5D5D5;
$text-color: #464646;


// 버튼 색상
$button-hover: #EB463D;
$button-active-color: rgba(231, 14, 2, 0.7);


